<div class="card border-light">
  <div class="card-title mt-3 mb-0">
    <div class="h2 text-capitalize text-center">Lista de {{model.user}}
      <span *ngIf="TnIncompletas()>0"
            class="badge "
            [ngClass]="{'badge-danger': TnIncompletas()>2,'badge-info':TnIncompletas()<=2}"
      >{{TnIncompletas()}}</span>
    </div>
  </div>
  <div class="card-body">
    <div class="input-group input-group-sm mb-2">
      <input type="text" class="form-control" #item
        (keyup.enter)="addItem(item.value);item.value=''"
      >
      <div class="input-group-append">
        <button class="btn btn-outline-secondary"
          (click)="addItem(item.value); item.value=''"
        >Añadir</button>
      </div>
    </div>
    <table class="table table-striped table-hover table-sm">
      <thead>
      <tr class="row text-center">
        <th class="col-7" (click)="setCriterios(false)">
        Tarea
          <i class="oi small"
             [class.oi-arrow-bottom]="asc"
             [class.oi-arrow-top]="!asc"
             [class.text-black-50]="porPrioridad"
             [class.text-primary]="!porPrioridad"></i>
        </th>
        <th class="col-2">Hecha</th>
        <th class="col-3" (click)="setCriterios(true)">
          <i class="oi oi-cog"></i>
          <i class="oi  small"
             [class.oi-arrow-bottom]="!asc"
             [class.oi-arrow-top]="asc"
             [class.text-black-50]="!porPrioridad"
             [class.text-primary]="porPrioridad"></i>
        </th>
      </tr>
      </thead>
      <tbody>

      <tr class="row" *ngFor=" let i=index; let item of model.items | ordenatareas: porPrioridad : asc |filtroDone: !mostrarTodas">
        <td class="col-7">{{item.action}}</td>
        <td class="col-2 text-center"><input type="checkbox" [(ngModel)]="item.done"></td>
        <td class="col-2">
          <app-prioridad [prioridad]="item.prioridad"
                  (nuevaPrioridad)="nuevaPrioridad($event,item.id)"
            >
          </app-prioridad> </td>
        <td class="col-1"> <i class="oi oi-trash text-danger small"
            (click)="eliminaTarea(item.id)"
        ></i> </td>
      </tr>

      </tbody>
    </table>
    <div class="form-check">
      <input class="form-check-input" type="checkbox"
             id="todos" [(ngModel)]="mostrarTodas">
      <label class="form-check-label" for="todos">Mostrar todas</label>
    </div>
  </div>
 <!-- <reactive></reactive>-->
</div>
